OPENAI_API_KEY=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

AZURE_OPENAI_ENDPOINT=https://kwickin.openai.azure.com
AZURE_OPENAI_KEY=Azurekey(it dont require through az cli)
PG_HOST='localhost'
PG_PORT='5432'
PG_DATABASE=
PG_USER=
PG_PASSWORD=
