# OPENAI_API_EXAMPLE=APIKEY_OPEN_AI

# AZURE_OPENAI_ENDPOINT=https://kwickin.openai.azure.com
# AZURE_OPENAI_=Azurekey(it dont require through az cli)
# PG_HOST='localhost'
# PG_PORT='5432'
# PG_DATABASE=
# PG_USER=
# PG_PASSWORD=
